obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

Library/cache/*
Library/metadata/*
Library/previews/*
Library/ScriptAssemblies/*

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper
Assets/NGUI/
Assets/NGUI.meta
Assets/Plugins/GoKit/
Assets/StreamingAssets/
Assets/StreamingAssets.meta
Assets/Plugins/GoKit.meta
Assets/Editor.meta
Assets/Editor/GoDummyPathEditor.cs
Assets/Editor/GoDummyPathEditor.cs.meta
Assets/Plugins.meta
